td.exitTest {
  display: inline-block;
  padding-right: 40px;
}

td.nextTest {
  display: inline-block;
  padding-left: 40px;
}

span.actres-ok {
  color: green;
  font-variant: small-caps;
  font-weight: bold;
}

span.actres-ok {
  color: red;
  font-variant: small-caps;
  font-weight: bold;
}